p {
    font-size:20px;
    float: left;
    padding: 20px;
    width: 70%;
    background-color:#EDA1C8;
    height: 300px;
}
img{ 
    padding: 40px;
    width: 50%;
    height: 550px;
}
a {
    font-size: large;

}